


<a href="#formBtn" id="scrollBtn" title="Go Bot">Anchor</a>     <!-- ANCHOR -->
    
<!-- NavBar -->
<nav class="nav-container">
    <a href="/pages/home.html"><img class="nav-img"  src="/assets/img/BlackLogo 3.png"></a>
    <div class="nav-items" id="topNav">
        <div class="d-flex justify-content-between languages">
            <a class="lv" href="#">LV</a>
            <a class="en" href="#">EN</a>
            <a class="ru" href="#">RU</a>
        </div>
        <a href="/pages/ideja.html">Ideja</a>
        <a href="#">Piesaki Sapni</a>
        <a href="#">Uzņēmējiem</a>
        <a href="#">Sapņu banka</a>
        <a href="#">Sapņus atbalsta</a>
        <a href="#">99 iedvesmas stāsti</a>
        <a id="lv" href="#">LV</a>
        <a href="javascript:void(0);" class="icon" onclick="openNavbar()">
            <div id="hamburger" class="hamburger "></div>
        </a>
    </div>
    <img class="vector" src="/assets/img/Vector.png" alt="Apgrauztā Mala">
</nav>   <!-- NavBar --> 